html
  position relative
  min-height 100%
body
  regular()
  font-size 16px
  line-height 1.2
  background #fff
  color $black
.wrapper
  clearfix()
  position relative
  max-width $wrapper
  height 100%
  padding-left 15px
  padding-right 15px
  margin-left auto
  margin-right auto
.content
  padding-top 72px
  padding-top 0
  

.select2-results__option
  padding 5px 0
  font-size 14px
  line-height 1
  padding-left 17px
.select2-dropdown
  border-radius 15px
  overflow hidden
  background #f4f4f4
.select2-container--default .select2-results__option[aria-selected=true],
.select2-container--default .select2-results__option--highlighted[aria-selected]
  background none
  color #ff500f
//html.mm-pagedim-black.mm-opening #mm-blocker, 
//html.mm-pagedim-white.mm-opening #mm-blocker,
//html.mm-pagedim.mm-opening #mm-blocker
//  // transition-duration .2s
//  transition-delay .2s
#mm-blocker
  left auto
  right 0
.mm-opened .m_header
  box-shadow none