html
  position relative
  min-height 100%
body
  regular()
  font-size 16px
  line-height 1.2
  background #fff
  color $black
.wrapper
  clearfix()
  position relative
  max-width $wrapper
  height 100%
  padding-left 15px
  padding-right 15px
  margin-left auto
  margin-right auto

