// Layout
$wrapper = 1170px
$footer = 200px

$sprite = 200px 300px

// Custom
$radius = 10px

// Colors
$border = #e3e3e3
$black = #444
$orange = #ff5a0b


$link = #456ec9

// Text
$text-muted = gray
$text-fail = red
$text-success = green
$text-warning = yellow



// Media quries
LG = "only screen and (min-width: 1200px)"
MD = "only screen and (min-width: 992px)"
SM = "only screen and (min-width: 768px)"
XS = "only screen and (min-width: 568px)"
