doctype html
html(lang="ru").no-js
  head
    title Cards
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="msapplication-tap-highlight" content="no")
    link(rel="icon" href="favicon.ico" type="image/x-icon")
    link(rel="stylesheet" href="css/plugins.css")
    link(rel="stylesheet" href="css/app.min.css")
  body
    .m_header
      .wrapper
        .logo: a(href="index.html")  
        .contacts
          .vertical-outer
            .vertical-inner
              //- span.action: a(class="get-popup-action" href="#popup-action") Активация
              span.sidebarmenu: a(href="#menu"): span
    #page.content
      .m_activate-cards
        .mobilecard
          .lead
            .wrapper
              .vertical-outer
                .vertical-inner                  
                  .image: img(src="images/hotcard_mobile_certificate.png" alt="")
                  .desc
                    h1.b-line.orange: b Активация карты оплаты
                    form
                      .form-row
                        input(type="text" placeholder="Секретный код карты")
                      .form-row
                        input(type="tel" placeholder="Номер телефона")
                      .form-row
                        .column
                          .picture
                            input(type="text" placeholder="Число с картинки")
                        .column
                          button(type="submit") Готово
          .infohelp
            .wrapper
              .tabs
                .tab-header
                  .item.current: a(href="#") Список операторов
                  .item: a(href="#") Помощь
                  .item: a(href="#") О сервисе
                .tab-content
                  .item
                    .faq
                      .faq-item
                        .faq-item-header: a(href="#") Куда обращаться за помощью?
                        .faq-item-body Телефон линии консультаций: 8 (800) 707-44-97 (звонок бесплатный по всей России, в том числе и с мобильных). Консультант работает по будням с 9:00 до 21:00 (время московское). В нерабочее время вы можете сообщить о проблеме, чтобы мы перезвонили вам позже.
                      .faq-item
                        .faq-item-header: a(href="#") Что делать, если платеж не прошел?
                        .faq-item-body Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content.
                      .faq-item
                        .faq-item-header: a(href="#") Как проверить, активирована ли универсальная карта оплаты и зачислен ли платеж по ней счет телефона?
                        .faq-item-body It's also called placeholder (or filler) text. It's a convenient tool for mock-ups. It helps to outline the visual elements of a document or presentation, eg typography, font, or layout. Lorem ipsum is mostly a part of a Latin text by the classical author and philosopher Cicero.
                      .faq-item
                        .faq-item-header: a(href="#") Мой оператор указан в списке доступных, но карту активировать невозможно, что делать?
                        .faq-item-body Its words and letters have been changed by addition or removal, so to deliberately render its content nonsensical; it's not genuine, correct, or comprehensible Latin anymore.
                      .faq-item
                        .faq-item-header: a(href="#") Я повредил секретный код карты, можно ли что-нибудь сделать?
                        .faq-item-body While lorem ipsum's still resembles classical Latin, it actually has no meaning whatsoever. As Cicero's text doesn't contain the letters K, W, or Z, alien to latin, these, and others are often inserted randomly to mimic the typographic appearence of European languages, as are digraphs not to be found in the original.
                      .faq-item
                        .faq-item-header: a(href="#") Меня заблокировали — что делать?
                        .faq-item-body Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa
                  .item(style="display: none")
                    .faq
                      .faq-item
                        .faq-item-header: a(href="#") What is Lorem Ipsum?
                        .faq-item-body Телефон линии консультаций: 8 (800) 707-44-97 (звонок бесплатный по всей России, в том числе и с мобильных). Консультант работает по будням с 9:00 до 21:00 (время московское). В нерабочее время вы можете сообщить о проблеме, чтобы мы перезвонили вам позже.
                      .faq-item
                        .faq-item-header: a(href="#") Where does it come from?
                        .faq-item-body Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content.
                      .faq-item
                        .faq-item-header: a(href="#") Where can I get some?
                        .faq-item-body It's also called placeholder (or filler) text. It's a convenient tool for mock-ups. It helps to outline the visual elements of a document or presentation, eg typography, font, or layout. Lorem ipsum is mostly a part of a Latin text by the classical author and philosopher Cicero.
                      .faq-item
                        .faq-item-header: a(href="#") Why do we use it?
                        .faq-item-body Its words and letters have been changed by addition or removal, so to deliberately render its content nonsensical; it's not genuine, correct, or comprehensible Latin anymore.
                      .faq-item
                        .faq-item-header: a(href="#") On the other hand, we denounce with righteous indignation?
                        .faq-item-body While lorem ipsum's still resembles classical Latin, it actually has no meaning whatsoever. As Cicero's text doesn't contain the letters K, W, or Z, alien to latin, these, and others are often inserted randomly to mimic the typographic appearence of European languages, as are digraphs not to be found in the original.
                      .faq-item
                        .faq-item-header: a(href="#") Et harum quidem rerum facilis est et expedita distinctio?
                        .faq-item-body Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa
                  .item(style="display: none")
                    .faq
                      .faq-item
                        .faq-item-header: a(href="#") Куда обращаться за помощью?
                        .faq-item-body Телефон линии консультаций: 8 (800) 707-44-97 (звонок бесплатный по всей России, в том числе и с мобильных). Консультант работает по будням с 9:00 до 21:00 (время московское). В нерабочее время вы можете сообщить о проблеме, чтобы мы перезвонили вам позже.
                      .faq-item
                        .faq-item-header: a(href="#") Что делать, если платеж не прошел?
                        .faq-item-body Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content.
                      .faq-item
                        .faq-item-header: a(href="#") Как проверить, активирована ли универсальная карта оплаты и зачислен ли платеж по ней счет телефона?
                        .faq-item-body It's also called placeholder (or filler) text. It's a convenient tool for mock-ups. It helps to outline the visual elements of a document or presentation, eg typography, font, or layout. Lorem ipsum is mostly a part of a Latin text by the classical author and philosopher Cicero.
                      .faq-item
                        .faq-item-header: a(href="#") Мой оператор указан в списке доступных, но карту активировать невозможно, что делать?
                        .faq-item-body Its words and letters have been changed by addition or removal, so to deliberately render its content nonsensical; it's not genuine, correct, or comprehensible Latin anymore.
                      .faq-item
                        .faq-item-header: a(href="#") Я повредил секретный код карты, можно ли что-нибудь сделать?
                        .faq-item-body While lorem ipsum's still resembles classical Latin, it actually has no meaning whatsoever. As Cicero's text doesn't contain the letters K, W, or Z, alien to latin, these, and others are often inserted randomly to mimic the typographic appearence of European languages, as are digraphs not to be found in the original.
                      .faq-item
                        .faq-item-header: a(href="#") Меня заблокировали — что делать?
                        .faq-item-body Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo.
      footer.m_footer
        .top
          .wrapper
            .column
              .logo: a(href="#")
              p Продажа сертификатов с доставкой<br>по всей России
              .email Пишите: <a href="#">email@email.com</a>
            .column.second
              .questions Остались вопросы?
              p Задайте их по бесплатному телефону
              .tel: a(href="#") 8 (800) 800 80 80
              p Или закажите бесплатный звонок, <br>и мы свяжемся с вами в ближайшее время
              .action
                a(class="get-popup" href="#popup-callback" data-title="заказать обратный звонок") Заказать звонок
        .bottom.center
          .wrapper
            .policy: a(href="#") Политика конфиденциальности
            .dev Разработано в <a href="http://lp.mango-media.ru/">Mango Media</a>
      .m_popup
        a(class="get-popup success-trigger" href="#popup-success")
        #popup-success.mfp-hide.popup
          .m_default-form
            h1.center
              b Спасибо за заявку!
              span.light.small Менеджер свяжется с вами по указанному телефону для уточнения деталей заказа и стоимости
            .close
              a(href="#") Закрыть
        #popup-action.mfp-hide.popup
          .m_default-form
            h1.center.b-line.orange
              b Активация
              span.light.small введите номер и ПИН <br>вашего мультибрендового сертификата
            form(class="form")
              .form-label
                input(type="text" placeholder='Номер сертификата' name='name' class="form-input" value="1" required="required")
              .form-label
                input(type="text" placeholder='ПИН' name='pin' class="form-input" value="1" required="required")
              input(type="submit" class="form-submit" value='Активировать')
        #popup-license.mfp-hide.popup
          h2 Условия использования
          p Сертификат предназначен и может быть использован исключительно для приобретения товаров в розничных магазинах cети «Эльдорадо». Адреса точек приема сертификатов «Эльдорадо» можно уточнить по номеру телефона Контактного центра: 8 800 250 25 25 (звонок бесплатный).
          p Срок действия Сертификата составляет два года со дня его активации. Cрок активации сертификата составляет 2 рабочих дня после получения.
          p Использование Сертификата возможно при покупке товаров в сети магазинов «Эльдорадо» путем сообщения Потребителем правильного ПИН-кода и номера Сертификата сотруднику кассовой зоны и внесении соответствующих данным сотрудником кассовой зоны на кассе, а также при покупке в интернет-магазине на сайте www.eldorado.ru в случае самостоятельного вывоза товара из любого магазина сети «Эльдорадо», а также пунктов самовывоза. Подарочный сертификат обмену и возврату не подлежит.
          p Сертификат действует на предъявителя (не является именным), и любое физическое лицо, предъявившее Сертификат, может приобрести с его помощью товар в магазинах сети «Эльдорадо».
          p Внесение денежных средств на Сертификат возможно только один раз в момент его приобретения.
          p Номинал Сертификата является суммой внесенных Покупателем денежных средств, которую держатель Сертификата может использовать для оплаты товара в магазинах «Эльдорадо».
          p Сумма внесенного аванса, указанная на Сертификате, может быть использована Держателем при покупке Товаров однократно. В случае выбора товара на сумму меньше номинала Сертификата, остаток номинала сгорает. В том случае, если стоимость товара превышает номинал Сертификата, разница между стоимостью товара и номиналом Сертификата оплачивается наличными денежными средствами, либо с использованием платежных банковских карт, либо с использованием подарочных карт «Эльдорадо».
          p Сертификат не может быть использован для получения наличных денежных средств из кассы Магазинов. Сертификатом можно оплатить любые товары/услуги, кроме: платежей по системам Киберплат, Дельтателеком; платежей по системе Рапида; коммунальных платежей; денежных переводов; ГОСЛОТО; Подарочной карты; также запрещено проводить оплату Сертификатом первоначального взноса по кредиту при приобретении покупателем товара/услуги в кредит.
          p С использованием Сертификата возможна единственная покупка (транзакция по оплате товара (ов) в одном чеке). При совершении покупки номинал сертификата списывается целиком. Возврат, обмен купленного с использованием Сертификата товара, осуществляется в соответствии с Законом РФ «О защите прав потребителей». В случае удовлетворения требования потребителя о расторжении договора купли-продажи товара, возврат средств осуществляется на новую пластиковую подарочную карту «Эльдорадо» гибкого номинала.
          p Телефон Контактного центра: 8 800 250 25 25 (звонок бесплатный). Подробности на сайте: www.eldorado.ru
          .bottom
            .action: a(class="choose-cancel" href="#") Отмена
            .action: a(class="choose-submit" href="#") Принять
        a(class="get-popup-action" id="limit-trigger" href="#popup-limit")
        #popup-limit.mfp-hide.popup
          h2 Превышен лимит средств!  
        #popup-cards.mfp-hide.popup     
          h2 Выбранные сертификаты
          p.no-items У вас нет выбранных сертификатов...
          .items
        a(class="get-popup-action" id="rem-trigger" href="#popup-remaining")
        #popup-remaining.mfp-hide.popup
          h2 Внимание!
          p Сертификат может быть активирован только 1 раз.
          .remaining Осталось:  <span><b></b> руб.</span>
          .action
            .cancel: a(href="#") Продолжить выбор
            .submit: a(href="#") Отказаться от остатка
        #popup-callback.mfp-hide.popup
          .m_default-form
            h1.center.b-line.orange
              b Заполните форму
              span.light.small чтобы <span id="modal-title">заказать обратный звонок</span>
            form(action="form.php" method='post' class="form")
              .form-label
                input(type="text" placeholder='Ваше имя' name='name' class="form-input" required="required")
              .form-label
                input(type="tel" placeholder='Ваш номер телефона' name='tel' class="form-input" required="required")
              input(type="hidden" name='input_type')
              input(type="submit" class="form-submit" value='Воспользоваться предложением')
            .safe Ваши данные в полной безопасноти
    #menu
      ul
        li: hr
        li: a(class="anchor" href="index.html#s1") Сертификаты
        li: a(href="partners.html") Каталог партнеров
        li: a(class="anchor" href="index.html#s2") Электронная витрина
        li: a(class="anchor" href="index.html#s3") О компании
        li: a(class="anchor" href="index.html#s4") Кейсы
        li: a(class="anchor" href="index.html#s5") Схема работы
        li: a(class="anchor" href="index.html#s6") Контакты
        li: hr
        li: a(class="get-popup-action" href="#popup-action") Активация сертификатов
        li: a(href="mobilecard.html") Карты мобильной связи
    script(src="js/jquery.min.js")
    script(src="js/plugins.js")
    script(src="js/app.js")