// Mobile burger button
.sidebarmenu a
  anim()
  display block
  position absolute
  z-index 10
  top 50%
  right 5px
  height 40px
  width 40px
  margin-top -(@height/2)
  border 2px solid transparent
  cursor pointer  
  &:after,
  &:before,
  span
    anim()
    content ''
    position absolute
    left 50%
    width 20px
    margin-left -10px
    height 2px
    background #ff5b0b
  &:before
    top 10px
  &:after
    bottom 10px
  span
    top 50%
    margin-top -1.5px
  &.open
    span
      opacity 0
      transform translateX(-5px)
    &:after
      transform rotate(135deg) translate(-6px, 6px)
    &:before
      transform rotate(-135deg) translate(-4px, -4px)
.slick-dots
  text-align center
  margin-bottom 50px
  @media screen and (max-width: 568px)
    margin-bottom 25px
  li
    display inline-block
    vertical-align middle
    width 15px
    height 15px
    margin-left 10px
    margin-right 10px
    @media screen and (max-width: 420px)
      margin-left 5px
      margin-right 5px
    button
      anim()
      background #fff
      text-indent -9999px
      border-radius 50%
      display block
      width 100%
      height 100%
      border none
      box-shadow 4px 0 20px rgba(0,0,0,.12)
    &.slick-active button
      background $orange
.slick-arrow
  transition background 0.15s cubic-bezier(.33,.66,.66,1)
  position absolute
  top 50%
  height 60px
  width 60px
  border-radius 50%
  border 1px solid #fff
  background none
  text-indent -9999px
  margin-top -(@height/2)
  z-index 10
  &:after
    content ''
    width 10px
    height 18px
    position absolute
    left 50%
    top 50%
    margin-left -(@width/2)
    margin-top -(@height/2)
  &:hover
    background #fff
    box-shadow 4px 0 20px rgba(0,0,0,.12)
  &.slick-next
    right -95px
    @media screen and (max-width: 1200px)
      right 0
    &:after
      background: url('../images/sprite.png') no-repeat -195px -267px
    &:hover:after
      background-position -162px -267px
  &.slick-prev
    left -95px
    @media screen and (max-width: 1200px)
      left 0
    &:after
      background: url('../images/sprite.png') no-repeat -224px -266px
    &:hover:after
      background-position -258px -265px
  &.slick-disabled
    cursor default
    opacity .2