.m_s4
  padding-bottom 55px
  background url("../images/m_s4/bg.jpg") no-repeat 50%
  background-size cover
  color #fff
  box-shadow inset 0 0 10px rgba(0,0,0,.25)
  @media screen and (min-width: 1024px)
    background-attachment fixed
  @media screen and (max-width: 568px)
    padding-bottom 25px
  .wrapper
    overflow hidden
  h1, h2, p
    tsh()
  h2
    margin-top 70px
    margin-bottom 45px
    @media screen and (max-width: 568px)
      margin-top 35px
      margin-bottom 15px
  img
    max-width 100%
  .loyality
    width 920px
    height 515px
    background url("../images/m_s4/window.png") no-repeat 0 0
    background-size cover
    margin 0 auto
    padding-top 52px
    padding-bottom 5px
    padding-right 5px
    padding-left 5px
    box-shadow 0 4px 20px rgba(0,0,0,.25)
    border-radius 15px
    margin-bottom 40px
    @media screen and (max-width: 992px)
      width 100%
      background none
      box-shadow none
      padding-top 0
      height auto
    @media screen and (max-width: 568px)
      margin-bottom 15px
    .slick-arrow
      @media screen and (max-width: 1200px)
        display none !important
    .slide
      border-radius 0 0 15px 15px
      overflow hidden
      img
        display block
        width 100%
        height 100%
        @media screen and (max-width: 992px)
          border-radius 10px
  .loyality-data
    width 920px
    margin 0 auto
    padding-left 160px
    position relative
    margin-bottom 50px
    @media screen and (max-width: 992px)
      width 100%
    @media screen and (max-width: 568px)
      padding-left 0
      padding-top 50px
      margin-bottom 25px
    .status
      position absolute
      left 0
      top 0
      width 160px
      text-align center
      font-size 30px
      @media screen and (max-width: 568px)
        width 100%
      .large, .total
        opacity .5
        margin-left 5px
      .current
        bold()
        opacity 1
    .desc
      font-size 16px
      line-height 1.4
      padding-right 30px
      @media screen and (max-width: 568px)
        padding-right 0
        text-align center
  .action
    text-align center
    a
      transition all .15s cubic-bezier(.33,.66,.66,1)
      display block
      width 540px
      height 60px
      margin 0 auto
      line-height 58px
      border 1px solid #fff
      color #fff
      border-radius 50px
      text-transform uppercase
      @media screen and (max-width: 992px)
        width auto
      @media screen and (max-width: 568px)
        font-size 14px
        height auto
        line-height 1.2
        padding 12px 0
      &:hover
        color #ee2840
        background #fff
        box-shadow 4px 0 20px rgba(0,0,0,.12)